/* 媒体查询 pc*/


/* 公共 */

.o_body,
.o_main {
    min-height: 100% !important;
}

.o_body {
    overflow: hidden;
    position: relative;
    z-index: 0;
}

img {
    vertical-align: middle;
}

.padding0 {
    padding: 0 !important;
}

.pale_blue {
    color: rgb(50, 190, 255)!important;
}

.bc_229 {
    background-color: rgb(229, 229, 229) !important;
}

.plant_green {
    color: rgb(229, 229, 229);
}

.displaynone {
    display: none !important;
}

.displayblock {
    display: block !important;
}

.displayinlineblock {
    display: inline-block !important;
}

.right0 {
    right: 0 !important;
}


/* 阿里图标库 */


/* @font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot');
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont.woff2') format('woff2'), url('iconfont.woff') format('woff'), url('iconfont.ttf') format('truetype'), url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


/* 头部 */

.header {
    border-bottom: 1px solid #e5e5e5;
}

.nav {
    max-width: 1260px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
}

.o_g {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0!important;
}

.relative {
    position: relative;
}

.o_g .logo {
    background: url(../images/ia_100000184.png) 0 -630px;
    display: inline-block;
    height: 21px;
    width: 71px;
    margin: 0 0 5px 5px;
    vertical-align: middle;
}

.o_g .logo_box {
    display: inline-block;
    width: 8.33333333%;
    position: relative;
    vertical-align: top;
}

.o_g .m_list1 {
    display: inline-block;
    width: 66.66666667%;
    /* display: inline-block相邻存在留白现象 */
    font-size: 0!important;
}

.m_list1 a {
    display: inline-block;
    width: 16.66666667%;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    color: #666;
    font-size: 14px;
}

.m_list1 a:hover {
    color: rgb(50, 190, 255);
}

.link {
    display: none;
}


/* 轮播图 */

.banner_box {
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
}

.swiper-container {
    width: 66.66666667%;
    height: 100%;
    display: inline-block;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-wrapper {
    font-size: 0!important;
}

.swiper-pagination {
    display: inline-block;
}

.swiper-pagination-bullet {
    width: 50px;
    border-radius: 0;
    height: 4px;
}

.swiper-slide span {
    position: absolute;
    color: #fff;
    font-size: 22px;
    width: 92%;
    left: 5%;
    bottom: 7%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-slide a {
    display: inline-block;
    width: 100%;
    padding-left: 5px;
}

.swiper-slide a img {
    width: 100%;
    /* border: 0; */
}

.o_s {
    padding: 40px 0;
}


/* 轮播图右侧 */

.m_box {
    width: 33.33333333%;
    display: inline-block;
    overflow: hidden;
}

.box {
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    font-size: 0!important;
}

.box a {
    width: 99%;
    display: inline-block;
    overflow: hidden;
}

.box a:nth-child(1) {
    margin-bottom: 16px;
}

.box a span {
    position: absolute;
    color: #fff;
    bottom: 10px;
    left: 20px;
    font-size: 22px;
    z-index: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    word-wrap: normal;
}

.box a img {
    width: 100%;
    display: block;
}


/* 次导航栏 */

.sub_nav {
    height: 60px;
    background: #f6f6f6;
}

.sub_nav_box {
    max-width: 1260px;
    margin: auto;
}

.sub_list {
    width: 66.66666667%;
    display: inline-block;
}

.sub_list a {
    width: 11.1%;
    display: inline-block;
    text-align: center;
    margin-right: -4px;
    line-height: 58px;
    color: #666666;
    cursor: pointer;
    border-top: 2px solid #f6f6f6;
    box-sizing: border-box;
}

.sub_list a span {
    font-size: 14px;
    color: #333;
}

.sub_list .other_brands {
    width: 11.1%;
    display: inline-block;
    text-align: center;
    margin-right: -4px;
    line-height: 58px;
    color: #666666;
    cursor: pointer;
    border-top: 2px solid #f6f6f6;
    box-sizing: border-box;
}

.other_brands .another {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    background: #fff;
}

.other_brands .another span {
    display: block;
    border: 1px solid #e5e5e5;
    border-top: none;
    height: 54px;
    line-height: 54px;
}

.other_brands .another span:nth-child(1) {
    border-top: 2px solid rgb(50, 190, 255);
}

.other_brands .another span:hover {
    background-color: rgb(229, 229, 229);
}

.other_brands .another .null:hover {
    background-color: #fff;
}

.other_brands .another {
    display: none;
}

.other_brands i {
    font-style: normal;
}


/* .home_list_left {
    display: none;
} */

.home_list_left:nth-child(1) {
    display: inline-block;
}


/* .sub_list a:hover span {
    color: rgb(50, 190, 255);
} */

* {
    font-size: 14px;
    color: #333;
}

.sub_list_750 {
    display: none;
}


/* 搜索框 */

.search_box {
    display: inline-block;
    width: 33.33333333%;
    text-align: right;
    padding-right: 2%;
    box-sizing: border-box;
}

.search_box input {
    border: 1px solid #e5e5e5;
    outline: none;
    /* max-width: 291px; */
    height: 40px;
    width: 100%;
    padding: 0 15% 0 2%;
    line-height: 40px;
}

.search_box .input_box span {
    position: absolute;
    left: 18px;
    top: 12px;
    color: #c3c3c3;
    z-index: 1;
}

.search_box .input_box i {
    position: absolute;
    right: 3%;
    top: 21%;
    color: rgb(202, 205, 204);
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.limit_box {
    width: 75%;
    display: inline-block;
    text-align: right;
}

.history_hot_box {
    position: absolute;
    background: #fff;
    z-index: 100000;
    border: 1px solid #e5e5e5;
    border-top: none;
    width: 100%;
    padding: 0 6%;
    text-align: left;
    right: 0;
    box-sizing: border-box;
    display: none;
}

.his_hot_tit {
    font-size: 12px;
    color: #666;
    padding: 15px 0 5px 0;
}


/* .js_test {
    padding: 10px 0;
} */

.hot_box {
    width: 100%;
    padding-bottom: 10px;
}

.hot_box span {
    display: inline-block;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    color: #666;
    background: #f5f5f5;
    margin: 8px 6px 0 0;
    cursor: pointer;
}

.js_his_container {
    padding-bottom: 10px;
}

.his_box {
    padding: 20px 0 5px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
    color: #666;
}

.his_box span {
    cursor: pointer;
    float: right;
    font-size: 12px;
}

.his_box span i {
    background-position: -7px -1px;
    display: inline-block;
    width: 13px;
    height: 15px;
    cursor: pointer;
    background: none;
    margin: 0;
}

.his_ul {
    margin-top: 10px;
}

.his_ul li {
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}


/* home列表左边 */

.home_list {
    max-width: 1260px;
    margin: auto;
    min-height: 800px;
    padding: 0 10px;
}

.home_list_left_box {
    width: 75%;
    display: inline-block;
}

.home_list_left {
    width: 100%;
}

.home_list_left .item {
    width: 90%;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
    vertical-align: middle;
    font-size: 0!important;
}

.home_list_left .item .item_left {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.home_list_left .item .item_left a {
    width: 100%;
    /* max-height: 93px; */
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.r_top a div {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-left: 24px;
}

.item .item_left a img {
    width: 100%;
    display: block;
    border: 0;
}

.home_list_left .item .item_right {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
}

.r_bottom_left,
.r_bottom_right {
    display: inline-block;
}

.r_bottom_left a {
    display: inline-block;
    border-left: 1px solid #e5e5e5;
    padding: 0 23px;
    height: 14px;
    line-height: 14px;
}

.r_bottom_left a:nth-child(1) {
    border-left: none;
}

.r_bottom_right {
    float: right;
}

.r_bottom_right span {
    color: #c6cacb;
    margin-left: 10px;
}

.item .item_right a:hover {
    color: rgb(50, 190, 255);
}

.item .item_right .r_top:hover div {
    color: rgb(50, 190, 255);
}


/* 发现更多 */

.findmore {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #32beff;
    padding: 30px 0 60px 0;
    cursor: pointer;
}


/* home列表右边 */

.home_list_right_box {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}


/* 高级动画 */

.animations {
    margin: 60px 0 60px 0;
    text-align: center;
    width: 100%;
}

.stage {
    transform-style: preserve-3d;
    display: inline-block;
}

.cube {
    /* 开启3D 放在需要动画的容器内*/
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* border: 1px solid gold; */
    animation: rotetesq 5s linear infinite;
}

.cube li {
    position: absolute;
    height: 100px;
    width: 100px;
    list-style-type: none;
    /* background-color: #00B700; */
    text-align: center;
    line-height: 100px;
    opacity: 0.7;
    /* 延迟执行2秒 */
    transition: all 0.5s;
}

.cube li:nth-child(1) {
    transform: translateZ(50px);
}

.cube li:nth-child(2) {
    /* 先旋转在位移,否则位置会有差错 */
    transform: rotateY(90deg) translateZ(50px);
}

.cube li:nth-child(3) {
    /* 先旋转在位移,否则位置会有差错 */
    transform: rotateY(180deg) translateZ(50px);
}

.cube li:nth-child(4) {
    transform: rotateY(270deg) translateZ(50px);
}

.cube li:nth-child(5) {
    transform: rotateX(90deg) translateZ(50px);
}

.cube li:nth-child(6) {
    transform: rotateX(270deg) translateZ(50px);
}


/* .cube:hover 表示已经是.cube下的子元素了,空格就是子元素选择器啊啊啊啊 */

.cube:hover li:nth-child(1) {
    transform: translateZ(100px);
}

.cube:hover li:nth-child(2) {
    transform: rotateY(90deg) translateZ(100px);
}

.cube:hover li:nth-child(3) {
    transform: rotateY(180deg) translateZ(100px);
}

.cube:hover li:nth-child(4) {
    transform: rotateY(270deg) translateZ(100px);
}

.cube:hover li:nth-child(5) {
    transform: rotateX(90deg) translateZ(100px);
}

.cube:hover li:nth-child(6) {
    transform: rotateX(270deg) translateZ(100px);
}

@keyframes rotetesq {
    from {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}


/* 热门视频 */

.tit {
    font-size: 24px;
    margin-bottom: 30px;
    display: block;
}

.group {
    width: 100%;
}

.video_box a {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.video_box {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.video_box a img {
    width: 100%;
    display: block;
}

.video_box a span {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    display: inline-block;
    left: 0;
    position: relative;
    margin-top: 10px;
    width: 99%;
    font-weight: bold;
}

.video_box .img_box img:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -27px;
    width: 54px;
    z-index: 50;
    height: 54px;
}

.video_box a span:hover {
    color: rgb(50, 190, 255);
}


/* 回到顶部 */

.righttip_box {
    position: fixed;
    right: 0;
    top: 70%;
    z-index: 100;
}

.righttip {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.backtop {
    margin-top: 3px;
}


/* 意见反馈 */

.modal_bcakground {
    background: rgba(0, 0, 0, 0.3);
    filter: progid: DXImageTransform.Microsoft.gradient(startcolorstr=#4c000000, endcolorstr=#4c000000);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.advice_modal {
    position: absolute;
    width: 680px;
    z-index: 1000;
    background-color: #fff;
    opacity: 1!important;
    left: 50%;
    margin-left: -308.5px;
}

.advice_modal_header {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #E5E5E5;
}

.advice_modal_header div {
    display: inline-block;
}

.advice_modal_header .advice_modal_close span {
    font-size: 27px;
    color: rgb(198, 202, 203);
}

.advice_modal_header .advice_modal_close span:hover {
    cursor: pointer;
}

.modal_title {
    width: 87.5%;
}

.advice_modal_body {
    padding: 20px;
    font-size: 14px;
    color: #666666;
}

.current_service {
    font-size: 14px;
    line-height: 28px;
    color: #666666;
    padding-bottom: 20px;
    padding: 20px;
}

.form_item div {
    display: inline-block;
}

.form_item .item_lable {
    text-align: right;
    padding-right: 15px;
    color: #666666;
    width: 16.6667%;
    line-height: 50px;
    vertical-align: top;
}

.item_select select {
    padding: 10px 0px;
    width: 310px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e5e5e5;
    opacity: 1;
}

.item_select .item_input,
.item_submit {
    width: 80%;
}

.submit_btn {
    width: 150px;
    background: #32beff;
    color: #fff;
    border: 1px solid #32beff;
    margin-top: 30px;
    line-height: 38px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.submit_btn:hover {
    color: #32beff;
    background-color: #fff;
}

.item_input input {
    width: 300px!important;
    height: 38px;
    border: 1px solid #e5e5e5;
    padding: 0 4px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 0;
    outline: 0;
}

.item_textarea textarea {
    width: 300px!important;
    height: 100px;
    border: 1px solid #e5e5e5;
    padding: 0 4px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 24px;
    margin: 5px 0;
}


/* 表单验证 */

.Validform_checktip {
    margin-left: 8px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 14px;
}

.Validform_right {
    display: none;
    color: #fff;
    padding-left: 20px;
    background: url(../images/right.png) no-repeat left center;
}

.Validform_wrong {
    color: red;
    padding-left: 20px;
    white-space: nowrap;
    background: url(../images/error.png) no-repeat left center;
}

.Validform_loading {
    padding-left: 20px;
    background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
    background-color: #FFFFFF;
}

#Validform_msg {
    color: #7d8289;
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
    width: 280px;
    -webkit-box-shadow: 2px 2px 3px #aaa;
    -moz-box-shadow: 2px 2px 3px #aaa;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 99999;
    display: none;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
    position: absolute;
    left: 0px;
    top: -1px;
    z-index: -1;
}

#Validform_msg .Validform_title {
    line-height: 25px;
    height: 25px;
    text-align: left;
    font-weight: bold;
    padding: 0 8px;
    color: #fff;
    position: relative;
    background-color: #000;
}

#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
    line-height: 22px;
    position: absolute;
    right: 8px;
    top: 0px;
    color: #fff;
    text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
    color: #cc0;
}

#Validform_msg .Validform_info {
    padding: 8px;
    border: 1px solid #000;
    border-top: none;
    text-align: left;
}


/* 尾部 */

.footer {
    width: 100%;
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    min-height: 405px;
    background: #f6f7f9;
}

.footer_750 {
    display: none;
}

.footer .warp {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px 0;
    display: block;
}

.list {
    font-size: 0!important;
}

.o_u {
    display: inline-block;
    width: 16.66666667%;
    vertical-align: top;
    box-sizing: border-box;
    text-rendering: auto;
}

.o_u span {
    font-size: 14px;
    padding: 15px 0;
    display: inline-block;
    font-weight: 700;
    color: #333;
}

.footer .warp .o_u a {
    font-size: 12px;
    color: #444;
    display: inline-block;
    width: auto;
    padding: 5px 0;
}

.footer .warp .bottom {
    margin-top: 23px;
    background-color: transparent;
    padding: 15px 0;
    border-top: 1px solid #c8c8c8;
    font-size: 0!important;
}

.footer .warp i {
    font-style: normal;
    padding: 0 10px;
}

.o_bottom {
    display: inline-block;
    font-style: normal;
    width: 33.33333333%;
    vertical-align: middle;
}

.o_bottom div {
    display: inline-block;
}

.o_bottom div a {
    display: block;
}

.o_bottom div a {
    color: #333;
    cursor: default;
}

.bottom_center {
    text-align: center;
}

.bottom_right {
    text-align: right;
    position: relative;
}

.bottom_right .sweep_code_box {
    position: absolute;
    padding: 5px;
    display: none;
    border: 1px solid #eee;
    background: #fff;
    right: -60px;
    bottom: 30px;
}

.bottom_right span {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    color: rgb(200, 200, 200);
    font-size: 22px;
}

.bottom_right span:hover {
    color: rgb(9, 187, 7);
    cursor: pointer;
}

.footer a {
    font-size: 12px;
}

.copyright {
    display: none;
}


/* 媒体查询 ipad*/

@media screen and (max-width:960px) and (min-width:750px) {
    /* 头部 */
    .o_g .logo_box {
        width: 16.66666667%;
    }
    .o_g .m_list1 a {
        width: 20%;
    }
    /* 身体 */
    .search_box {
        display: none;
    }
    .sub_list {
        width: 91.66666667%;
    }
    .backtop {
        display: none;
    }
    .banner_box {
        padding: 0 10px;
    }
    .header .nav .o_g {
        padding-left: 10px;
    }
    .home_list {
        padding: 0;
    }
    .home_list_right_box .animations {
        display: none;
    }
    .home_list_left .item {
        padding: 20px 0;
        width: 95%;
        margin: 0 auto;
    }
    .home_list_left_box {
        width: 66.66666667%;
        display: inline-block;
        box-sizing: border-box;
    }
    .home_list_right_box {
        width: 33.33333333%;
        display: inline-block;
        margin-top: 20px;
        padding: 0 15px 0 20px;
        box-sizing: border-box;
    }
    .home_list_left .item .item_left {
        width: 37.5%;
    }
    .home_list_left .item .item_right {
        width: 62.5%;
    }
    .righttip_box {
        display: none;
    }
    .modal_bcakground {
        display: none;
    }
}


/* 媒体查询 手机*/

@media screen and (max-width:750px) {
    /* 头部 */
    .o_g .logo_box {
        display: inline-block;
        width: 33.33333333%;
        position: relative;
        vertical-align: top;
    }
    .o_g .m_list1 {
        display: none;
    }
    .link {
        display: inline-block;
        text-align: right;
        height: 100%;
        width: 66.66666667%;
    }
    .link .i_box {
        font-size: 30px;
        height: 100%;
        width: 60px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
    /* 身体 */
    .m_box {
        display: none;
    }
    .swiper-container {
        display: inline-block;
        width: 100%;
    }
    .o_s {
        padding: 20px 0;
    }
    .home_list_right_box {
        display: none;
    }
    .home_list_left_box {
        display: inline-block;
        width: 100%;
    }
    .search_box {
        display: none;
    }
    .sub_list {
        display: none;
    }
    .sub_list_750 {
        width: 100%;
        display: inline-block;
        background-color: rgb(246, 246, 246);
        /*添加横向滚动条*/
        overflow-x: scroll;
        overflow-y: hidden;
        /*不换行*/
        white-space: nowrap;
    }
    .sub_list_box {
        height: 60px;
        width: 100%;
        line-height: 60px;
    }
    .sub_list_750 a {
        width: 20% !important;
        display: inline-block;
        text-align: center;
        margin-right: -4px;
        line-height: 58px;
        color: #666666;
        cursor: pointer;
        border-top: 2px solid #f6f6f6;
        box-sizing: border-box;
    }
    .home_list_left .item {
        width: 100%;
    }
    .swiper-pagination-bullet {
        width: 7px;
        border-radius: 100%;
        height: 7px;
    }
    .r_bottom_right {
        display: none;
    }
    .item {
        display: flex;
        flex-direction: row-reverse;
    }
    .r_top a div {
        padding-left: 1vw;
    }
    .r_bottom_left a {
        padding: 0 1vw;
    }
    .findmore {
        font-size: 3.67vw;
        padding: 4.9vw 0 8vw 0;
    }
    .swiper-slide a {
        padding-right: 5px;
    }
    .backtop {
        display: none;
    }
    .righttip_box {
        display: none;
    }
    /* 尾部 */
    .footer {
        display: none;
    }
    .footer_750 {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        left: 0;
        bottom: 0;
        height: 15.2vw;
        border-top: 1px solid #c8c8c8;
        background: #fff;
        z-index: 999;
    }
    .footer_750 .page i {
        padding-top: 1.87vw;
        font-size: 5.72vw;
        display: block;
    }
    .page {
        text-align: center;
    }
    .page span {
        font-size: 3vw;
    }
    .copyright {
        display: block;
        width: 100%;
        padding-bottom: 20.2vw;
        text-align: center;
    }
    .copyright i {
        font-style: normal;
    }
    .copyright a {
        font-size: 3.6vw;
    }
    /* 弹窗效果从右入 */
    @-webkit-keyframes layui-m-anim-bottom {
        0% {
            opacity: 0;
            -webkit-transform: translateY(800px);
            transform: translateY(800px)
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }
    @keyframes layui-m-anim-bottom {
        0% {
            opacity: 0;
            -webkit-transform: translateX(800px);
            transform: translateX(800px)
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    }
    .layui-m-anim-bottom {
        -webkit-animation-name: layui-m-anim-bottom;
        animation-name: layui-m-anim-bottom
    }
}